common --experimental_platform_in_output_dir
common --enable_platform_specific_config

common --@llvm//config:experimental_stub_libgcc_s
common --repo_env=BAZEL_MSVC_RUNTIME_VISUAL_STUDIO_EULA=1
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_NO_APPLE_CPP_TOOLCHAIN=1

common -c opt
common --@rules_rust//:extra_rustc_flags=-Clto=fat
common --@rules_rust//:extra_rustc_flags=-Cstrip=symbols
common --@rules_rust//:extra_rustc_flags=-Ccodegen-units=1
common --@rules_rust//:extra_rustc_flags=-Cpanic=abort

common --bes_results_url=https://app.buildbuddy.io/invocation/
common --bes_backend=grpcs://remote.buildbuddy.io
common --experimental_remote_downloader=grpcs://remote.buildbuddy.io
common --remote_cache=grpcs://remote.buildbuddy.io
common --remote_cache_compression
common --remote_download_toplevel
common --nobuild_runfile_links
common --remote_timeout=120
common --noexperimental_throttle_remote_action_building
common --experimental_remote_execution_keepalive
common --grpc_keepalive_time=30s

common:remote --remote_executor=grpcs://remote.buildbuddy.io
common:remote --jobs=800
common:remote --extra_execution_platforms=@llvm//:rbe_platform
